body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
   
}
.card{

}
.secondsection {

}
.teams {

}
.teamA {

}
  
.teamB {
}
.countdown {

}
.timeandlocation {

}
.stats {
   
    
    
}