:root{
    --global-section-width: 60%;
    --card-title-size: 50px;
}

body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-image: url("images/social_share_default.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header{
    width: var(--global-section-width);
}

h1 {
   font-weight: bolder;
}
h5 {
    font-family: 'Anton', sans-serif;
    color: white;
    margin: 0;
    font-size: 40px;
}

.section-logo {
    display:flex;
    align-items: center;
    background-image: linear-gradient(#FFF, #FFF, #aaaaaa);
    width: var(--global-section-width);
    padding:10px;
    margin-top:10px;
}

.section-title {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #000;
    color: #FFF;
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    width: var(--global-section-width);
    height: 50px;


}
/*///NBA API fetched card classes///*/
.section-card {
    display:flex; 
    justify-content: center; 
    align-items: center; 
    color: black; 
    padding: 10px;
    width:var(--global-section-width);
    box-shadow: 3px 3px 20px 5px #000;
}

.section-teamStats {
    display:flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
    background-color: #3b3b3b;
    color: white; 
    width:var(--global-section-width);
    box-shadow: 3px 3px 20px 5px #000;
    height: 400px;
}

#selectedTeam {
    background-color: #f2f2f2;
    background-position: center;
    color: white;
    align-items: center;
    width: 50%;
    margin: 10px;
}  

/*///ticketmaster fetched card classes///*/
#futuregames {
    display:flex;
    justify-content: center;
    align-items: center;
    width: var(--global-section-width);
    flex-direction: column;
}

.nba-title {
    background-color: #000;
    color: #FFF;
    font-family: 'Anton', sans-serif;
    font-size: var(--card-title-size);
    width: var(--global-section-width);
    height: auto;
    width: 100%;
}

#countdown {
    font-family: 'Anton', sans-serif;
    background-color:crimson;
    color: #FFF;
    margin-left: 40%;
    font-size: 70px;
} 

.nba-date-container {
    font-family: 'Anton', sans-serif;
    background-color: #;
    width: fit-content;
}

.nba-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nba-img {
    width: 70%;
    height: auto;
}

.nba-info {
    text-align: justify;

}

.nba-card {
    display:flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    background-color: #3b3b3b;
    color: white; 
    padding: 10px;
    width:100%;
    box-shadow: 3px 3px 20px 5px #000;
    margin-bottom: 100px;
    transition: 0.4s ease-in-out;
}

.nba-card:hover {
    transform: translate(0, -20px);
}


#gametime {
    font-size: x-large;
    font-weight: bolder;

}
#stats {
    background-color: #214087;
    font-weight: bold;
    width: 50%;
    font-weight: 50px;
    color: wheat;
    font-size: larger;
    margin: 10px;
}


/*///index classes///*/

.body-index {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}

.ballin-logo {
    margin: 10px;
}

.team-dropdown {
    width:35%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
}